body {
    font-family: 'Raleway', sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

.text-dim {
    color: #7d97ad;
}

.text-slim {
    font-weight: 200;
}

.text-large {
    font-size:60px;
}

hr {
    color: #7d97ad;
}