  /*html, body, div {
    height: 100%;
    width: 100%;
  }*/

/*img, embed, object, video {
  max-width: 100%;
}*/
body {
    color: #2d3c49;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#projects {
  text-align: center;

}
.flex_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

header {
  background-color: brown;
}
#navigation_bar {
  background-color: red;
}

#projects {
  background-color: blue;
}

#About{
  background-color: green;
}
nav, footer {
  text-align: center;
}
ul {
  list-style:none;
  display: inline-table;
  padding: 0;
}

li {
  display: inline;
  padding-right: 10%;
}

li:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 375px) {
  .
  .header_text {
    font-size: 1.2em;
    text-align: center;
  }
  .pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
